@keyframes sp
{
0% {
  transform: rotate(0deg);
}
50% {
  transform: rotate(360deg);
}
100% {
  transform: rotate(720deg);
}
}

@keyframes foot1
{
0% {
  top: 120vw;
  left: 60vw;
}
50% {
  /* transform: rotate(360deg); */
  top: 117vw;
  left: 52vw;

}
100% {
  top: 122vw;
  left: 38vw;
}
}

@keyframes foot2
{
0% {
  top: 122vw;
  left: 38vw;
}
50% {
  /* transform: rotate(360deg); */
  top: 125vw;
  left: 52vw;

}
100% {
  top: 120vw;
  left: 60vw;
}
}



.sportswarp{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sp1{
  width: 80vw;
  position: absolute;
  top: 80vw;
  left: 0
}
.sp2{
  width: 15vw;
  position: absolute;
  top: 132vw;
  left: 24vw;
  animation: sp 6s infinite linear;

}
.sp3{
  width: 6vw;
  position: absolute;
  top: 140vw;
  left: 64vw;
  animation: sp 2s infinite linear;
}

.sp4{
  width: 16vw;
  position: absolute;
  top: 120vw;
  left: 60vw;
  animation: foot1 1s infinite linear,foot2 1s infinite linear;

}
.sp5{
  width: 16vw;
  position: absolute;
  top: 122vw;
  left: 38vw;
  animation: foot2 1s infinite linear, foot1 1s infinite linear;
}

.run{
  animation-play-state:running;
}
.stop{
  animation-play-state:paused;
}
